.landingPageContainer {
  width: 100vw;
  height: 100vh;
  background: url("/public/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.landingPageContainer nav {
  padding-inline: 1.2rem;
  padding-block: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.landingPageContainer nav h2 {
  font-size: 1.8rem;
  font-weight: 500;
}

.landingPageContainer nav .navlist {
  display: flex;
  gap: 1.6rem;
  cursor: pointer;
}

.landingMainContainer {
  display: flex;
  justify-content: space-between;
  padding-inline: 3rem;
  height: 80vh;
  align-items: center;
}

.landingMainContainer > div:nth-child(1) {
  font-size: 2.2rem;
}

.landingMainContainer > div:nth-child(1) div[role="button"] {
  background: #d97500;
  width: fit-content;
  padding: 1rem;
  border-radius: 20px;
  margin-top: 1.9rem;
}

.landingMainContainer > div:nth-child(1) div[role="button"] a {
  text-decoration: none;
  color: white;
  font-size: 1.7rem;
}

.landingMainContainer > div:nth-child(2) img {
  height: 70vh;
  width: auto;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.homeMain {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  gap: 5vw;
  padding: 0 5vw;
}

.leftPanel {
  max-width: 500px;
  padding: 40px;
  border-radius: 16px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.meetingInputGroup {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.rightPanel {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rightPanel img {
  width: 350px;
  max-width: 100%;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.auth-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.auth-image {
  flex: 1;
  background-image: url("../public/pic.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.auth-form {
  flex: 1;
  height: 100vh; /* full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box; /* ensures padding included in width */
  padding: 0 40px; /* add some horizontal padding */
}
